doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-aux.min.css')
	body
		div(class="container")
			if isLogged
				div(class="masthead")
					h3.text-muted Projeto Node.js acadtec
					include partials/menu
			block content
			if isLogged
				include partials/footer
		script(src="/js/jquery-3.1.1.min.js")
		script(src="/js/bootstrap.min.js")
		block scripts