extends ../layout

block content
	h1 Cadastro de Usuário
	hr
	br
	if messages.erro
		div(class="alert alert-danger")
			each msg in messages.erro
				b= msg
				br
		br
	form(method="POST", action="/usuarios/create", role="form")
		div(class="form-group")
			label Nome
			input(type="text", class="form-control", name="nome", value="#{user.nome || ''}", placeholder="Nome", autofocus, required)
		div(class="form-group")
			label e-mail
			input(type="email", class="form-control", name="email", value="#{user.email || ''}", placeholder="E-mail", required)
		div(class="form-group")
			label Senha
			input(type="password", class="form-control", name="password", placeholder="Digite sua senha", required)
		div(class="form-group")
			label Confirmar Senha
			input(type="password", class="form-control", name="password_confirmar", placeholder="Redigíte a senha", required)
		button(type="submit", class="btn btn-success") Salvar
	br
	br
	a(href="/usuarios") Voltar