extends ../layout

block content
	h1 #{dados.nome}
	p
		b E-mail: #{dados.email}
	p
		b Data de Cadastro: #{moment(dados.data_cad).format('DD/MM/YYYY HH:MM:SS')}
	br
	form(method="POST",action="/usuarios/delete/#{dados._id}", role="form" id="excluir-form")
		button(type="submit", class="btn btn-danger") Excluir
	br
	a(href="/usuarios") Voltar
block scripts
	script(type="text/javascript").
		$(function(){
			$('#excluir-form').submit(function(){
				var pergunta = confirm('Deseja realmente excluir?');
				if(!pergunta){
					return false;
				}
			});
		});
