extends ../layout
block content
    div(class="jumbotron")
        h1 Curso de Node.js
        p(class="lead") Aprenda de forma prática e online a desenvolver sistemas web com profissionais com mais de 12 anos de experiência.
        p
            a(class="btn btn-lg btn-success" target="_blank" href="#" role="button") Acessar o site
