extends ../layout
block content
    div(class="jumbotron")
        h1(class="display-4") Agenda de contatos com NodeJS Express
        p(class="lead") Controle de usuários com contatos com ExpressJS e MongoDB.
        p
            a(class="btn btn-lg btn-success" target="_blank" href="#" role="button") Acessar o site
